body {
    background-image: url(../Images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
}

.footer-bottom {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 2.3;
    text-align: center;
    left: 0;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}